/* assigmnent */
body {
  background-color: #CCCCCC;
}

.signUpForm {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  /* border: 2px solid black; */
}

.leftSide {
  width: 50%;
}

.background,
.bgImg,
.contents {
  width: 100%;
  height: 100%;
}

.background {
  position: relative;
}

.contents {
  position: absolute;
  top: 0;
  left: 0;
}

.titlePic {
  width: 90px;
  padding: 20px 30px;
}

.buttons {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.leftbtn {
  padding: 3px 0;
  width: 384px;
  height: 34px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px #CCCCCC;
  color: #707070;
}

.rightSide {
  width: 50%;
  background-color: #fff;
  position: relative;
}

.curnersContainer {
  width: 100%;
  height: 100%;
}

.imag1,
.imag2 {
  position: absolute;
}

.imag1 {
  top: 0;
  right: 0;
}

.imag2 {
  bottom: 0;
  left: 0;
}

.rightTitle {
  width: 100%;
  height: 100%;
  display: flex;
}


.headings,
.rightTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headings {
  width: 380px;
  height: 106px;
}

h1,
h4 {
  font-stretch: expanded;
  font-weight: 1000;
  color: #707070;
  margin: 10px 0;
}

h1 {
  font-size: 40px
}

h4 {
  font-size: 23px;
}

.lowButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.butnblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  margin: 10px 0;
}

button,
input {
  width: 384px;
  height: 34px;
  padding: 3px;
}

button {
  margin-bottom: 30px;
  border-radius: 34px;
  color: #fff;
  background-color: rgb(26, 139, 238);
  box-shadow: 1px 1px #CCCCCC;
  font-weight: 40px;
}


label {
  /* justify-self: left; */
  Width: 384px;
  Height: 30px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}